{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
</head>
<body>
    <div class="container">
        <a href="/">На главную</a>
        <h1>Контактная информация</h1>
        <p><strong>Телефон:</strong> +123 456 7890</p>
        <p><strong>Email:</strong> info@example.com</p>
        <p><strong>Адрес:</strong> 1234 Улица Примера, Город, Страна, 12345</p>
        <p>Если у вас есть вопросы или предложения, пожалуйста, свяжитесь с нами по указанным контактам. <br><br>Мы будем рады помочь вам!</p>
        
        <p><u>Отправьте свои данные для статистики:</u></p>

        <form method="POST">
            {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <p>{{ result }}</p>
        <br>
        <input type="submit" value="Отправить" >

    </div>
</body>
</html>