{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
<div class="container">
    <h1>Добро пожаловать!</h1>
    <p>Теперь вы на главной странице django-проекта</p>
    <p>Django — это высокоуровневый веб-фреймворк на языке Python, который позволяет быстро разрабатывать безопасные и масштабируемые веб-приложения. Он предоставляет множество встроенных инструментов и библиотек, которые упрощают процесс разработки и управления веб-сайтами.</p>
    <p>На этой странице вы можете найти основную информацию о вашем проекте, а также ссылки на другие разделы сайта. Если у вас есть вопросы или предложения, не стесняйтесь связаться с нами через форму обратной связи.</p>
    <a href="/contacts">Контакты</a>
</div>
</body>
</html>